@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo de tags globais */
body{
    font-family:'Manrope', sans-serif;
    color: rgba(0, 0, 0, .8);
    background-color: rgba(61, 57, 57, 0.089);
    padding: 10px;
}
h1{
    font-family: 'Bebas Neue',cursive;
    margin-left: -10px;
    font-size: 50pt;
}
h3, h2{
    font-family: 'Secular One', sans-serif;
}
header, section{
    display: flex;
    background-color: #fff;
}

ul,a,h3{
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
}
h2,p{
    margin-bottom: 10px;
}
p{font-size: 12pt;
line-height: 110%;
}
/* Estilo do cabecalho */
.cabecalho{ 
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    padding: 20px;
    margin-bottom: 10px ;
}
#span-h1{
    font-weight: bolder;
    font-family: 'Bebas Neue',cursive;
    font-size: 50pt;
}

/* estilo do menu de navegacao */
.nav-menu{
    padding: 0 15px;
    width: 30%;
}
.nav-menu ul li{
    width: 100%;
    padding: 5px;
    line-height: 2rem;
    color: rgba(13, 55, 117, 0.712);
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;
    margin-bottom: 1px;

}
.nav-menu ul li:hover{
    color: #000;
   background-color: rgba(119, 116, 116, 0.356);
}
.nav-menu{
    margin-left: -30px;
}
.ul-nav{
    margin-bottom: 5%;
}
/* Estilo da section conteudo principal */
.corpo{
    padding: 50px 30px;
    text-align: justify;
    width: 100%;
    display: flex;

}
/* estilos dos artigos (article) */

.container-artigos{
    display: block;
    width: 70%;
}
.artigo{
    margin-bottom: 50px;
}
.artigo img{
    display: block;
    margin: 10px auto;
    border-radius: 5px;   
}
.artigo  cite a{
    color: rgb(24, 13, 95);
    float: right;
}
cite {
    margin-bottom: 40px;
}
.aspas{
    display: inline !important;
    margin: 0 !important;
}
span a{
    color: rgba(8, 4, 75, 0.685);
}
/* estilo do roda pe (footer) */
footer{
    margin-top: 10px;  
    background-color: rgba(134, 128, 128, 0);
}
footer .autorais{margin-top: 20px;
    line-height: 12vh;
    text-align: center;
    background-color: #fff;
}
/* estilo formulario footer */
.cog-form__content{
    padding: 50px !important;
}
html .cog-branding--minimal, html .cog-branding--minimal *, :root:root:root:root:root .cog-branding--minimal, :root:root:root:root:root .cog-branding--minimal * {
    display:  none !important;
}
@media(max-width: 715px){
    h2, h3 {
        font-family: 'Bebas Neue',cursive;   
        margin-top: 30px;
        font-size: 16pt;
        color: rgb(40, 40, 46);
    }
    p{
        font-size: 11pt;
        line-height: 1.2em;
    }
    body{padding: 0;
    }
    /* header cabecalho */
    h1{
        font-family: 'Bebas Neue',cursive;       
        font-size: 30pt;
    }
    #span-h1{
        font-weight: bolder;
        font-family: 'Bebas Neue',cursive;
        font-size: 30pt;
    }
    header img{
        width: 1.8em;
        height: 1.7em;
        margin-right: 4px;
    }
    /* nav menus de navegação */
    
    .nav-menu {
        margin: 0 auto;
        width:100%
    }
   
    .trab{
        display: none !important;
    }
    .cont{
        width: 100%;
        display: flex;
    }
    .cont a {
        width: 50%;
        font-size: 10pt;
        margin: auto;
        text-align: center;
        margin-left: 6px;
    }
    /* section conteudo principal */
    .corpo{
        margin: 0;
        padding: 10px;
        display: block; 
    }
    /* article artigos*/
    .container-artigos{
        width: 100%;
    }
    .artigo{
        width: 100%;
    }
    .artigo cite{
        display: block;
        float: right;
    }
    .artigo cite a{
        font-size: 9pt;
        width: 100%;
    }
}