@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo de tags globais */
body{
    font-family:'Manrope', sans-serif;
    color: rgba(0, 0, 0, .8);
    background-color: rgba(61, 57, 57, 0.089);
    padding: 10px;
}
h1{
    font-family: 'Bebas Neue',cursive;
    font-size: 50pt;
    margin-top: 9%;
    letter-spacing: 0.2em;
}
h3, h2, span{
    font-family: 'Secular One', sans-serif;
}
header, section{
    display: flex;
    background-color: #fff;
}

ul,a,h3{
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
}
h2,p{
    margin-bottom: 20px;
}
p{font-size: 14pt;
line-height: 150%;
}
/* Estilo do cabecalho */
.cabecalho{ 
    display: flex;
    width: 100%;
    padding: 20px;
    line-height: 2em;
}
#span-h1{
    margin-top: 0 !important;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
}
/* Estilo da section conteudo principal */
.corpo{
    background-color: rgba(70, 199, 238, 0.349);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    clear: both;
}
.corpo h3{
    width: 100%;
    margin: 20px 0;
}
.corpo div{
    width: 40%;
    margin: 0 55px;
}
#corpo2 div{
    width: 40%;
    height: auto;
    
}
#corpo2 div p{
    width: 100%;
}
.sect-apre{
    display: block;
    margin-top: 1%;
    width: 100%;
}
.fig-apre{
    width: 100%;
    height: 50vh;
}
.fig-apre .legenda{
    position: relative;
    float: right;
    color: rgba(7, 7, 121, 0.842);
    width: 38%;
    padding: 10px;
    text-align: center;
    font-size: 14pt;
    margin: -40% 10% 0 0;
}
#banner-descri{
    width: 100%; 
    height: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px  rgba(0, 0, 0, 0.212);
    background-color: rgba(255, 255, 255, 0.753);
}
.fig-apre img{
    width: 100%;
}
.fig-img{
    width: 40%;
}
.fig-img img{
    width: 100%;
    height: 100%;
}
.button{
    border-radius: 25px;
    background-color: #ff4500;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px #454545 ;
    font-weight: 300;  
    margin-top: 10px;
    float: left;
    
}
.button a{
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
}
#corpo2{
    background-color: rgb(253, 253, 253);
}
#corpo2 p{
    line-height: 1.5em;
}
#corpo2 figure img{
    width: 100%;
    height: 90%;
}
/* estilo do roda pe (footer) */
footer{
    margin-top: 10px;  
    background-color: rgba(134, 128, 128, 0);
}
footer .autorais{
    margin-top: 20px;
    line-height: 12vh;
    text-align: center;
    background-color: #fff;
}
/* estilo formulario footer */
.cog-form__content{
    padding: 50px !important;
}
html .cog-branding--minimal, html .cog-branding--minimal *, :root:root:root:root:root .cog-branding--minimal, :root:root:root:root:root .cog-branding--minimal * {
    display:  none !important;
}

@media(max-width:768px){
    /* Estilo do cabecalho */
    .cabecalho{ 
        display: flex;
        width: 100%;
        padding: 20px;
    }
    h1{
        font-family: 'Bebas Neue',cursive;
        font-size: 40pt;
        letter-spacing: 0.2em;
    }
    /* banner  */
    #banner-descri{
        margin: -20% -150% 0;
        width: 400px;
        height: auto;
        font-size: 0.9em;
    }
    .legenda figcaption{
        width: 100%;
    }
    .button{
        display: block;
        margin-left: -150%;
        width: 120px;
        font-size: 8pt;
    }
    .corpo{
        margin-top: -50% ;
        width: 100%;
    }
    section#corpo2 {
        margin-top: 1%;
        width: 100%;
        
    }
    .corpo div, section#corpo2 div{   
        width: auto;
    }
    section.corpo div p, section#corpo2 div p{
        width: auto;
}
section.corpo figure , section#corpo2 figure {
    display: block;
    margin: 0 auto;
}
}

    @media(max-width:600px){
        body{
            width: 100%;
        }
        /* Estilo do cabecalho */
        .cabecalho{ 
            display: flex;
            width: 100%;
            padding: 20px;
        }
        h1{
            font-family: 'Bebas Neue',cursive;
            font-size: 40pt;
            letter-spacing: 0.2em;
        }
        /* banner  */
        #banner-descri{
            margin: -40% -150% 0;
            width: 270px;
            height: auto;
            font-size: 0.6em;
        }
        .button{
            display: block;
            margin-left: -150%;
            width: 120px;
            font-size: 8pt;
        }
        /* conteudo principal */
        .corpo{
            margin-top: -50% ;
            width: 100%;
        }
        .corpo div{
            display: block;
            width: 100%;
        }
        .fig-img{
            width: 100%;
            height: auto;
        }
        .div-p{
            margin: 0 !important;
        }
        
    }